*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


section{
    margin: 5%;
}

/* header navbar start */
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
}
.navbar{
    display: flex;
    align-items: center;
}
.menu{
    display: flex;
}
.menu li{
    list-style: none;
    margin: 12px;
}

.menu li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 8px 15px;
}

.menu li a:hover{
    background-color: palevioletred;
    border-radius: 5px;
    color: wheat;
}

.nav-icon{
    text-decoration: none;
    color: black;
}

.fas{
    margin-right: 18px;
}
/* header navbar end */

/* banner start */

.banner{
    display: flex;
    align-items: center;
    justify-content: center;
}

.flow-width{
    font-size: 20px;
    width: 50%;
    padding: 5%;
}

#simple{
    font-size: 35px;
    margin-bottom: 40px;
}


.flow-width img{
    width: 70%;
    margin-top: 100px;
}


.flow-width p{
    font-size: 18px;
    margin-bottom: 30px;
}

.button{
    color: white;
    font-size: 20px;
    text-decoration: none;
    background-color: palevioletred;
    padding: 15px 35px;
    border-radius: 25px;
}

/* banner end */


/* company logo start */

.logo-section{
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 8%;
}

.logos img{
    width: 80px;
    height: 80px;
    margin-right: 5%;
}

/* company logo end */

/* product review start */

.product-reviwe{
    margin-bottom: 8%;
}

.section-title{
    text-align: center;
    margin-bottom: 5%;
}

.products{
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    gap: 44px;
}

.single-product{
    border: 2px solid white; 
    margin-top: 30px;
    background-color: rgb(233, 232, 232);
    border-radius: 5px;
    margin: auto;
    padding: 8px;
}

.single-product img{
    width: 300px;
    height: 256px;
    padding: 15px;
    border-radius: 5px;
}


.product-detail{
    padding: 0px 17px;
}

.product-name{
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 22px;
}

.product-price{
    margin-bottom: 8px;
    font-size: 24px;
    font-weight: 500;
}

.rating{
    margin-bottom: 8px;
}

.fa-star{
    color: orange;
}

.seemore-btn{
    margin-right: 5%;
    padding-top: 40px;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    float: right;
}

/* product review end */

/* product feature start */

.product-feature{
    display: grid;
    margin-top: 100px;
}

.features{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3%;
}

.product-feature{
    margin: 0 auto;
}

.feature-details{
    text-align: center;

}
.feature-details h1{
    font-size: 38px;
    margin-bottom: 3%;
}

.discription{
    font-size: 16px;
    margin-bottom: 32px;
}

.feature-details a{
    color: white;
    text-decoration: none; 
    background-color: palevioletred;
    padding: 10px 20px; 
    border-radius: 41px;
}

/* product feature end */

/* footer start */
footer{
    background-color: rgb(0, 1, 27);
    padding-bottom: 8%;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer{
    padding-top: 5%;
}

.footer h2{

    margin-bottom: 8%;

}

.social-media{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.social-media i{
    font-size: 22px;
    margin-top: 8%;
}

/* footer end */

/* mobile responsive */

@media screen and (max-width: 688px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    section{
        width: 100%;
        margin: 25% 0;
        padding: 0 15px;
    }
    
    /* header navbar */
    .navigation{
        padding-top: 15px;
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }

    .menu{
        display: none;
    }

    /* header navbar end */

    /*  banner start */
    .banner{
        /* width: 100%; */
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    
    .flow-width{
        /* margin: 0 auto; */
        width: 100%;
        padding: 15px;
        margin-top: 30px;
        text-align: center;
        
    }
    
    
    .camera{
        width: 250px;
        height: 250px;
    }
        
        
    .flow-width h1{
        font-size: 38px;
        font-weight: 900;
    }

    /* banner end */
    /* company logo start */
    .logo-section{
        width: 100%;
    }

    .logos{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    /* company logo end */
    /* product */

    .product-reviwe{
        width: 100%;
        /* margin-bottom: 15%; */
    }

    .products{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 5px;
    }

    /* product end */
    /* product feature */

    .features{
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }

    .product-feature img{
        width: 100%;
        
    }

    .feature-details h1{
        font-size: 22px;
    }

    /* product feature end */
    /* footer start */

    footer{
        padding: 25px;
    }

    .social-media{
        margin-top: 3%;
    }

    /* footer end */
}
Tanjil
tr ager ja code lekha asilo html r css